TAG=guarded
PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=replace_with_openssl_rand_hex_16
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
REDIS_URL=redis://redis:6379
SERVER_URL=http://localhost:3000
STORAGE_TYPE=local
ENCRYPTION_KEY=replace_with_openssl_rand_base64_32
FALLBACK_ENCRYPTION_KEY=
APP_SECRET=
DISABLE_DB_MIGRATIONS=true
DISABLE_CRON_JOBS_REGISTRATION=true
